* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-size: 1.2rem;
}
html {
    font-size: 10px;
}
.calculator {
    border: 1px solid darkgray;
    width: 400px;
    background-color: yellowgreen;
    border-radius: 5px;
    transform: translate(-50%,-50%);
    position: absolute;
    top: 50%;
    left: 50%;
}
.calculator-input {
    width: 100%;
    font-size: 40px;
    background-color: #333;
    color: white;
    border: none;
    text-align: right;
    padding-right: 20px;
    padding-left: 20px;
    height: 70px;
}
button {
    height: 50px;
    background-color: seagreen;
    border-radius: 3px;
    border: 1px solid darkcyan;
    font-size: 2.5rem;
    cursor: pointer;
    color: #333;
}
button:hover {
    opacity: 0.7;
    color: black;
}
.calculator-keys {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    padding: 10px;
}
.equal-sign {
    grid-area: 2/4/6/5;
    height: 100%;    
    color: yellow;
    font-size: 40px;
}
.clear {
    background-color: red;
    color: whitesmoke;
}
.decimal {
    background-color: lightsteelblue;
    color: black;
}
.operator {
    background-color: dodgerblue;
    color: yellow;
}